package.json
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
*.ejs
**/*.svg
**/*.png
**/*.jpg
**/*.html
**/*.ico
*.env
*.yarnrc
package-module.json
public/upgrade
tests
__test__
/config
